<li class="collection-item">
	{{name}}
    
    {{#if available}}
    <span class="badge">
	<button class="btn waves-effect waves-light devour" style="position: relative; top: -7px" type="button" data-id="{{id}}">Devour It!
        <i class="material-icons right">restaurant</i>
	</button>
    </span>
    {{/if}}
    
</li>